@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #42A5F5;
    --color-danger: #EF5350;
    --color-success: #9CCC65;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-shadow: rgba(132, 139, 200, 0.1);
    --color-background: #f0f3f8;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-shadow)
}

.dark-theme {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    color: var(--color-dark);
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-white);
    user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    border-radius: var(--border-radius-2);
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 25rem;
    overflow: scroll;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-picture {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-greyed {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary) !important;
}

.danger {
    color: var(--color-danger) !important;
}

.success {
    color: var(--color-success) !important;
}

.warning {
    color: var(--color-warning) !important;
}

/* Logo section */

aside {
    height: 100%;
    display: flex;
    flex-direction: column;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

aside .logo {
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .top .close-btn {
    /* display: flex; */
    display: none;
    cursor: pointer;
}

/* Sidebar */
aside .sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    flex-grow: 1;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.3s ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    /* position: absolute;
    bottom: 2rem;
    width: 100%; */
    margin-top: auto;
    margin-bottom: 2rem;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* Main */

main {
    margin-top: 1.4rem;
}

main > h1 {
    line-height: 1;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    width: fit-content;
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--color-danger);
}

main .insights > div.income span {
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Orders Table */

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main .recent-orders table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main .recent-orders table tbody td:nth-of-type(5) {
    cursor: pointer;
}

main .recent-orders table tbody tr:last-child td{
    border: none;
}

main .recent-orders button {
    background-color: transparent;
    color: var(--color-primary);
    text-align: center;
    display: block;
    margin: 1rem auto;
    border: 2px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Right Section */

/* Top */
.right {
    margin-top: 1.4rem;
    padding-right: 2rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 1rem;
    text-align: right;
    cursor: pointer;
}

/* Recent Updates */
.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Sales Analytics*/
.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: white;
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon{
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon{
    background: var(--color-success);
}

.right .sales-analytics .add-panel{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right .sales-analytics .add-panel div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

right .sales-analytics .add-panel div h3 {
    font-weight: 600;
}

/*Media Queries*/
@media only screen and (max-width: 1400px) {
    .container {
        grid-template-columns: 5rem auto 25rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media only screen and (max-width: 1050px) {
    main {
        position: relative;
    }

    aside .sidebar a:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    main .recent-orders {
        position: absolute;
        width: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    .container {
        border-radius: 0;
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
        position: fixed;
        left: -100%;
        width: 18rem;
        z-index: 10;
        background: var(--color-white);
        box-shadow: var(--box-shadow);
        animation: slideIn 0.3s ease forwards;
    }

    @keyframes slideIn {
        to {
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .top .close-btn {
        display: inline-block;
    }

    main {
        margin-top: 6rem;
        padding: 0 1rem;
        width: 100vw;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    main .recent-orders table th:nth-of-type(2) {
        display: none;
    }

    main .recent-orders table td:nth-of-type(2) {
        display: none;
    }

    .right {
        padding: 0 1rem;
        margin: 0 auto;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 5;
        box-shadow: var(--box-shadow);
        gap: 1rem;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: flex;
        background-color: transparent;
        cursor: pointer;
        margin-right: auto;
    }

    .right .top button span {
        color: var(--color-dark);
        font-size: 2rem;
    }
}

@media only screen and (max-width: 380px) {
    main .recent-orders table {
        font-size: 0.7rem;
    }
}